.grid-div {
    position: relative; 
    background-image: url("../../assets/shelf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50vw;
}

.grid-div-shelf {
    position: absolute; 
    top: 20; 
    left: 10;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin-bottom: 5vh;
}